h2 {
  color: gray;
  font-family: "Apple Color Emoji";
  text-align: center;
}
button{
  margin-top: 20px;
  margin-bottom:20px;
  padding: 5px 10px;
  width: 90px;
  height: 30px;
  padding-top: 0px;
  border-radius: 4px;
}

#explanation{
  height: 150px;
  width: 250px;
  padding-left: 2px;
  padding-right: 2px;
  word-wrap:break-word;
  word-break:break-all;
}
