<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand col-sm-2" href="#">
    <img src="/src/assets/icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    ICM
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 col-sm-8">
      <input class="form-control form-control-sm mr-sm-2 col-sm-8" type="search" placeholder="Search" aria-label="Search" style="border-radius: 1.25rem">
      <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <a class="nav-link text-right" href="#">Muster Mann</a>
  <a class="nav-item nav-link" routerLink="/">Home</a>
  <a class="nav-item nav-link" (click)="logout()">Logout</a>
  <div class="col-sm-1 text-right">
    <button type="button" class="btn btn-sm btn-outline-info">Login</button>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Macro Map</li>
  </ol>
</nav>