<!-- <div class="col-md-12 text-right pb-5">
      <form class="range-field" #slider>
            <input id="slider" type="range" min="0" max="2" step="1"/>
          </form>
      </div> -->

<div class="container-fluid" >
<svg  id="graphContainer"
      width="100%"
      height="100%"
      class="associations">


      
      <foreignObject x="0" y="0" width="350" height="480" class="pdf">
            <xhtml:pdf-viewer [src]="pdfSrc" 
            [(page)]="pageNumber"
            [show-all]="false"
            zoom="0.45"
            render-text="true"
            style="display: block;"
            #pdfViewer>   
            </pdf-viewer>
          </foreignObject>
</svg>
</div>